.tableBox {
    width: 100%;
    margin-bottom: 1em;
}

.tableBox table {
    margin: auto;
    width: 90%;
}

.addButton {
    margin-left: 5% !important;
    margin-right: 0 !important;
}

.deleteButton {
    margin-left: 1em !important;
}