body {
    background-color: #f5f5f5;
    font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
    overflow: hidden;
}

.login {
    width: 200px;
    margin: auto;
    margin-top: 12%;
    text-align: center;
    background-color: white;
    padding: 2em;
    box-shadow: #ccc 1px 1px;
}

.login .forgotPassword {
    cursor: pointer;
    margin-top: 0.5em;
    display: block;
    color: lightskyblue;
    font-size: 0.8em;
}