body {
    background-color: #f5f5f5;
    font-family: 'Roboto';
}

.register {
    width: 300px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

.register .imageInput {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    text-align: center;
    margin: auto;
    font-size: 70px;
    border: 1px #ccc solid;
    box-shadow: 0px 0px 5px #888888;
    cursor: pointer;
    user-select: none;
}

.register .imageInput img {
    max-width: inherit;
    max-height: inherit;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.register .imageInput span {
    line-height: 150px;
}

.register input {
    width: 300px;
    height: 2em;
}

.register .expirationDate{
    margin-top: 0.5em;
    width: 150px;
}



.register .submit { 
    margin-top: 0.5em;
    width: 150px;
}

.register .forgotPassword {
    cursor: pointer;
    margin-top: 0.5em;
    display: block;
    color: lightskyblue;
    font-size: 0.8em;
}

.return{
    margin-top: 15px !important;
    margin-left: 15px !important;
}